<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta name="description" content="A brief collection of things done by Alex Feldman">

  <title>Alex Feldman.space</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
  <div class="Container">
    <h1 class="h2 mt-3 personal-header">
      Feldman.space
      <a href="/cv" class="text-lush float-right h4 mt-2">CV</a>
    </h1>
    <hr>
    <!-- All -->
    <div class="">
      {% for row in projects|batch(2) %}
      <div class="row project-row">
        <div class="offset-1"></div>
        {% for project in row %}

        <div class="col-5 text-center project-container">
          <div class="mx-1 my-2 cell">
            <div class="row py-2">
              <div class="col-12 col-lg-5">
                <img src="{{ url_for('static', filename=project.image) }}" alt="{{ project.title }}" height="100" class="my-1">
              </div>
              <div class="col-12 col-lg-7 py-2 py-lg-0 ml-2 ml-lg-0">
                <small class="pr-lg-3 w-100 text-left float-lg-left text-container">
                  <h6><a href="{{ project.url }}">{{ project.title }}</a></h6>
                  <p class="description mt-2">{{ project.desc|newline }}</p>
                  <a href="{{ url_for('detail', project=project.slug, id=project.id) }}" class="float-lg-right">&lt;&lt;more&gt;&gt;</a>
                </small>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
      </div>
      {% endfor %}
  </div>
</body>
{% include 'footer.html' %}

</html>
